.SavedChats {
  margin-bottom: 30px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.user {
  background-color: darkcyan;
  margin: 35px 10px;
  font-size: 22px;
  padding: 10px;
  border-radius: 20px;
}

.bot {
  background-color: darkslategray;
  font-size: 22px;
  margin: 0 12px;
  border-radius: 20px;
  padding: 10px;
}
